Tests/SchemaParserTests/Inputs/complex_nested_type.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/tns" xmlns:tns="http://tempuri.org/tns" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="foo">
        <xs:sequence>
            <xs:element name="bar">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="buz" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
