Tests/SchemaParserTests/Inputs/complex_generic.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Kolonel.Public.Service.API.Contracts.V1_3_2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Kolonel.Public.Service.API.Contracts.V1_3_2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceResultOfArrayOfCustomerYdoBG8it">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Kolonel.Public.Service.API.Contracts.V1_3_2" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfCustomer" Namespace="http://schemas.datacontract.org/2004/07/Kolonel.Public.Service.API.Contracts.V1_3_2" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:ArrayOfCustomer" />
      <xs:element minOccurs="0" name="ResultCode" type="tns:ResultCodeEnum" />
      <xs:element minOccurs="0" name="ResultMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
